{% load staticfiles %}
<html>
<head>
	<title>Canal do Corretor</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
	<div>
		<div class="container">
		<a href="{% url 'canal_corretor.views.corretor_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<!-- Pagina Home -->
			{%block index%} {%endblock index%}
			
			<!-- Formulário Corretor autonomo -->
			{% block cad_co %} 	{% endblock cad_co %}
			
			<!-- Formulário Imobiliaria --> {% block cad_imobi %} {% endblock cad_imobi %} 
			
			<!-- resposta de envio -->	
			{% block enviado%}  {% endblock enviado %}

			<!-- Form corretor_afiliado -->
			{%block cad_afiliado%} 	{% endblock cad_afiliado %}
			

		</div>
	</div>
</body>
</html>