{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}
{% block cad_corretor %}
<div class="col-md-8 col-md-offset-2">
          <br>  
          <img class="img-reponsive logoimg"  src="{% static 'img/brand.png'%}" alt="Logo New Bank">
          <span class="clearfix"><br></span>
          <h1 class="lg">Cadastro Corretores</h1>
      
      

        <form action="{% url 'canal_corretor.views.corretor_new' %}" method="POST" class="form  center-block">

            {% csrf_token %}

            <label>Nome:</label>
            {{form.nome}}
            {{form.mome.error}}
        
            <label>Data de Nascimento:</label>
            {{form.nasc}}
            {{form.nasc.error}}
         
            <label>cpf:</label>
            {{form.cpf}}
            {{form.cpf.error}}
       
        
            <label>Creci:</label>
            {{form.creci}}
            {{form.creci.error}}
          
           <label>telefone:</label> 
           {{form.telefone}}
           
            <label>celular:</label>
            {{form.phone}}
            {{form.phone.error}}
        
            <label>Site </label>
            {{form.site}}
        
            <label>Endereço: </label>
            {{form.endereco}}
            {{form.endereco.error}}
        
            <label>CEP: </label>
            {{form.cep}}
        
            <label>Cidade:</label>
            {{form.cidade}}
            {{form.cidade.error}}
            
        
            <label>Estado:</label>
            {{form.estado}}
            {{form.estado.erro}}
         <span class="clearfix"> <hr> </span>
         <button class="btn btn-primary" type="submit">cadastrar</button>
        </form>

</div>
{% endblock cad_corretor %}