{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}
{% block cad_corretor %}
<div class="col-md-10 col-md-offset-1">
         <br>  
          <img class="img-reponsive logoimg "  src="{% static 'img/brand.png'%}" alt="Logo New Bank">
          <span class="clearfix"><br></span>
          <h1 class="lg">Cadastro Corretores</h1>

            <form action="{% url 'canal_corretor.views.corretor_new' %}" method="POST" class="form-nb">
            
            {% csrf_token %}
            <div class="col-md-5 col-md-offset-1">
         <label>Nome:</label>
            {{form.nome}}
            
          </div>
         <div class="col-md-5"> 
            <label>Data de Nascimento:</label>
            {{form.nasc}}
            {{form.nasc.error}}
          </div>
         <div class="col-md-5 col-md-offset-1"> 
            <label>Cpf:</label>
            {{form.cpf}}
            {{form.cpf.error}}
               </div>
         <div class="col-md-5 "> 
           <label>Creci:</label>
            {{form.creci}}
            {{form.creci.error}}
            </div>
         <div class="col-md-5 col-md-offset-1"> 
           <label>Telefone:</label> 
           {{form.telefone}}
         </div>
          <div class="col-md-5 "> 
            <label>Celular:</label>
            {{form.phone}}
            {{form.phone.error}}
          </div>
          <div class="col-md-5 col-md-offset-1">
              <label> Email: </label>
              {{form.email}}
              {{form.email.error}}
          </div>    
          <div class="col-md-5 "> 

            <label>Site </label>
            {{form.site}}
            {{form.site.error}}
          </div>
          <div class="col-md-5 col-md-offset-1 "> 
                <label>Endereço: </label>
            {{form.endereco}}
            {{form.endereco.error}}
          </div>
          <div class="col-md-5 "> 
            <label>CEP: </label>
            {{form.cep}}
          </div>
          <div class="col-md-5 col-md-offset-1">    
            <label>Cidade:</label>
            {{form.cidade}}
            {{form.cidade.error}}
            
          </div>
          <div class="col-md-5"> 
            <label>Bairro:</label>
            {{form.bairro}}
            {{form.bairro.error}}
          </div>
          <div class="col-md-5 col-md-offset-1 ">

            <label> Estado </label>
            {{form.estado}}
            {{form.estado.error}}
          </div>  
          <span class="clearfix"> </span> 
          <div class="col-md-5 col-md-offset-1 ">
                 <button class="btn btn-default lg" type="submit"> Cadastrar </button>
            </div>
            </form>       


{% endblock cad_corretor %}
