{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}
{% block cad_imobi %}
<div class="col-md-12"> 

   

<form method="POST" class="form  center-block">
<h2 class="lg"> Cadastro de Imobiliarias </h2> 
  {% csrf_token %}
    <div class="form-group col-md-5"">
    	<label> Imagem</label>
    	{{form.img}}
    </div>
    <div class="form-group col-md-5">
    	<label>Razão social </label>
    	{{form.razao}}
    	{{fomr.razao.error}}
    </div>
    <div class="form-group col-md-5">
    	<label>Creci Jurídico </label>
    	{{form.creci_j}}
    	{{fomr.creci_j.error}}
    </div>
    
	<div class="form-group col-md-5">
        <label>Nome Fantasia:</label>
        {{form.nome}}
        {{form.mome.error}}
     </div>

    <div class="form-group col-md-5">
        <label>cnpj:</label>
        {{form.cnpj}}
        {{form.cnpj.error}}
    </div>
      
    <div class="form-group col-md-5">
        <label>endereço:</label>
        {{form.endereco}}
        {{form.endereco.error}}
    </div>
    <div class="form-group col-md-5">
        <label>bairro:</label>
        {{form.bairro}}
        {{form.bairro.error}}
    </div>
            
    <div class="form-group col-md-5">
       <label>cidade:</label> 
       {{form.cidade}}
       {{form.cidade.error}}
    </div>
    <div class="form-group col-md-5">
        <label>cep:</label>
        {{form.cep}}
        {{form.cep.error}}
    </div>
    <div class="form-group col-md-5">
        <label>estado:</label>
        {{form.estado}}
        {{form.estado.error}}
    </div>
    <div class="form-group col-md-5"> 
		<label>telefone:</label>
		{{form.telefone}}
		{{form.telefone.error}}
    </div>
    <div class="form-group col-md-5"> 
		<label>celular: </label>
		{{form.phone}}
		{{form.phone.error}}
    </div>
    <div class="form-group col-md-5"> 
		<label>e-mail:</label>
		{{form.email}}
		{{form.email.error}}
    </div>
      <div class="form-group col-md-5"> 
		<label>site: </label>
		{{form.site}}
		{{form.site.error}}
      </div>
      <div class="form-group col-md-5"> 
		<label>Responsável: </label>
		{{form.resp}}
		{{form.resp.error}}
      </div>
      <div class="form-group col-md-5"> 
		<label>Email responsável: </label>
		{{form.email_resp}}
		{{form.email_resp.error}}
      </div>
      <div class="form-group col-md-5"> 
		<label>cpf: </label>
		{{form.cpf}}
		{{form.cpf.error}}
      </div>

      <div class="form-group col-md-5"> 
		<label>Creci Fisíco:</label>
		{{form.creci_f}}
		{{form.creci_f.error}}
      </div>
      <div class="form-group col-md-5 col-md-5-offset-1">
     <button class="btn btn-lg lg">Enviar</button>
      </div>

</form>
</div>



{% endblock cad_imobi %}