{%extends 'canal_corretor/base.html'%}
{%block cad_afiliado%} 


<div class="col-md-10 col-md-ofsset-4">
 
  <h1 align="center"> Cadastro de Corretores Afiliados  </h1>    

  <form method="POST" class="form  center-block">
  {% csrf_token %}
      <div class="form-group">
        <label>Nome:</label>
        {{form.nome}}
        {{form.mome.error}}
      </div>
      <div class="form-group">
        <label>Data de Nascimento:</label>
        {{form.nasc}}
        {{form.nasc.error}}
      </div>
      <div class="form-group">
        <label>cpf:</label>
        {{form.cpf}}
        {{form.cpf.error}}
      </div>
      <div class="form-group">
        <label>Creci:</label>
        {{form.creci}}
        {{form.creci.error}}
      </div>
            
      <div class="form-group">
       <label>telefone:</label> 
       {{form.telefone}}
       {{form.telefone.error}}
      </div>
      <div class="form-group">
        <label>celular:</label>
        {{form.phone}}
        {{form.phone.error}}
      </div>
      <div class="form-group">
        <label>email:</label>
        {{form.email}}
        {{form.email.error}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">Enviar</button>
      </div>
  </form>
     
      
    
</div>  
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>



{%endblock cad_afiliado%}