{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}
{%block ep_detail %}
   <script> 
        $('#myTab a').click(function (e) {
              e.preventDefault()
                    $(this).tab('show')
        })

        $('#myTab a[href="#planta"]').tab('show') // Select tab by name
        $('#myTab a[href="#table"]').tab('show')
        $('#myTab a[href="#image"]').tab('show')
        $('#myTab a[href="#video"]').tab('show')
        $('#myTab a[href="#material"]').tab('show')
   
</script>

<div class="row">

      <div class="col-sm-12 ">
          <nav class="navbar-nb navbar-static-top">
             <ul class="col-sm-10 col-sm-ofsset-1 nav nav-pills">
                <li class="logo-nb col-sm-3 ">  <a class="nav-text " href="/portal/"><img class="img-reponsive" src="/static/img/brand.png" alt="Logo New Bank"></a></li>
                <li class="col-sm-3 nav-nb ">  <a class="link-nb"  href="/imobiliaria/corretor/new"><p class="nav-text" >Cadastro de corretor afiliado</p></a> </li>

                                                                         
              </ul>        
          </nav>
          <div class="clearfix"> </div>
        <!-- INICIA A NAV -->    
    <div class="col-sm-8 col-sm-offset-2 ">  
        
	<ul class="nav nav-tabs tab-nb " role="tablist" id="myTab" >
       
        <li class="nav tab" ><a class="nav-link active atab-nb" data-toggle="tab" role="tab" href="#home" aria-controls="home">Descrição</a></li>
       	<li class="nav tab" ><a  class="nav-link atab-nb" data-toggle="tab" role="tab" href="#planta" aria-controls="planta"> Plantas</a></li>
        <li class="nav tab"><a class="nav-link atab-nb" aria-controls="image" href="#image" data-toggle="tab" role="tab">Images</a></li>
		<li class="nav tab"><a class="nav-link atab-nb" data-toggle="tab" role="tab" href="#video"aria-controls="video">Vídeo</a></li>
		<li class="nav tab"><a class="nav-link atab-nb" aria-controls="material" href="#material" data-toggle="tab" role="tab">Material de Apoio</a></li>
        <li class="nav tab"><a class="nav-link atab-nb" aria-controls="table" role="tab" href="#table" data-toggle="tab">Tabela de Vendas</a></li>
	</ul>
    </div>       
    <!-- termina o nav -tab -->
    <!-- CONTEUDO DO EMPREENDIMENTO -->    
<div class="tab-content show-nb col-sm-10 col-sm-ofsset-1 " > 
    <div class="tab-pane fade in active col-sm-10 col-sm-offset-1 " role="tabpanel" id="home">
        <h1 class="title-nb"> {{eps.titulo}} </h1>
        <img class="img-responsive" src="/{{eps.img}}" alt="{{eps.titulo}}">  
        <h3 class="title-nb">{{eps.sub_titulo}}</h3>
        <p class="p-nb">{{ eps.descricao|linebreaksbr }}</p>
    </div>
    <div id="planta" class="tab-pane fade col-sm-10 col-sm-offset-1" role="tabpanel" >
        {% for pt in ptas %}        
        <h4> {{pt.nome}} 
            <img src="/{{pt.file}}" alt="{{pt.nome}}" class="img-responsive">
       
        {%endfor%}
    </div>
    <div id="table" class="tab-pane fade col-sm-10 col-sm-10 col-sm-offset-1" role="tabpanel">
        {% for tb in tbs %}
        <h4> {{tb.nome}} </h4>
        <img src="/{{tb.file}} " alt="{{tb.nome}}" class="img-responsive">
        {%endfor%}
    </div>

    <div id="image"class="tab-pane fade col-sm-10 col-sm-offset-1"role="tabpanel">
        {% for img in imgs %}
        <h4> {{img.nome}} </h4>
        <img src="/{{img.img}}" alt="{{img.nome}}" class="img-responsive">  
        {%endfor%}
    </div>

    <div id="video" class="tab-pane fade col-sm-10 col-sm-offset-1" role="tabpanel">
      {% for vd in vds %}
      <div class="col-md-4">        
           <p> {{vd.nome}} </p>
            <iframe width="350" height="197" class="embed-responsive-item" src="{{vd.iframe}}"></iframe>
         
      </div>   
         {% endfor %}
    </div>
    <div id="material" class="tab-pane fade col-sm-10 col-sm-offset-1"role="tabpanel"> 
        {% for mt in mts %}
        <h3> {{mt.nome}} </h3>
         <img src=" {{mt.img}}" alt="{{mt.nome}}"
        {%endfor%}    
    </div>

       
</div>
<!-- termina empreendimentos -->
   </div>
</div>
{%endblock ep_detail %}
