{%extends 'canal_corretor/base.html'%}
{% load static %}
{%block ep_list %}

   
{% for ep in eps %}         
<div class="container">
    <div class="row"> 
        <div class="col-lg-12">
            <div class="col-md-4 portfolio-item">
            

                <a href="">
                    <img class="img-responsive" src="{% static 'img/logotipo_1diamont.jpg'  %}" alt="imagem de text">
                    
                <h3>  {{ep.titulo}}  </h3>
                </a>
                           
                
                <p>{{ep.descricao}}</p>
            {%endfor%}    
            </div>
 
        </div>
    </div>
</div>        
   
{% endblock ep_list %}
