{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}

{%block ep_list %}

        
    <div class="col-md-12">
        {% for ep in eps %} 
       
        <div class="col-md-4"> 
            <a href="{url 'canal_corretor.views.ep_detail, pk=categoria.pk'}">                       
            <h3>  {{ep.titulo}} </h3>
            <img src="{{ep.img}}" alt="{{ep.titulo}}"> 
            </a>                      
            <p>{{ep.sub_titulo}}</p>
        </div>
        {%endfor%}   
    </div>
 
        
          
   
{% endblock ep_list %}
