{%extends 'canal_corretor/base.html'%}
{% load staticfiles %}
<html>
<head>
	<meta charset="utf8">
	<title> Força de Venda  NB</title>
       <meta name="Fabiano Teichmann">
	
</head>
<body>
	{% block index %}
	<div class="col-md-12">
	<nav class="navbar navbar-default">
		<div class="container pos-r">
			<ul>
				<li><a href="{% url 'canal_corretor.views.ep_list' %}"> Empreendimentos</li>
				
					
				
			</ul> 
		</div>
	 </nav>
		
	</div>

	<div class="col-md-12"> 
	{%for cat in cats%}
	
		<div class="col-md-4">
			<img src="/{{cat.img}}" alt="{{cat.titulo}}">
							
		</div>
	

	</div>

	{%endfor%}
	{%endblock index%}
</body>
</html>
