.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}



.date {
    float: right;
    color: #828282;
}

.save {
    float: right;


}
/* Inicia classe especificamente da New Bank atenção não copie esse codigo desse brilhante programador kkkkkk só zueira */
.atab-nb {
    text-transform: uppercase;
    color: #86744f;

}
.ep-nb {
    position: relative;
    top: 0.2em;
     
}
.p-nb {
    color: #86744f;
    font-size: 1.2em;
}
.tab-nb {
    position: relative;
    top: 2em;

}
.show-nb {
    
    position: relative;
    top: 5.5em;
}
.cont-nb {
    right: 0.2em;
    margin-left: 0.2em;
}
.link-nb { 
    color: #fff;
   font-size:1em;
    text-transform: uppercase;
}
.link-nb:hover{
    color: #716243;
}
.nav-nb { 
    position: relative;
    top: 1.2em;
    left: 3.8em;
}
.logo-nb{
    position: relative;
    top: 0.5em;
    left:5em;
}
.menu-nb { 
    position: relative;
    left: 5em;

}
.navbar-nb {
    background-color: #86744f !important;
    height:90px;
}
.form-nb {
    position: relative;
    top:5.5em;
}
.mini-img-nb {
    position: relative;
    top: 3em;
}
/* cria um quadrado em torno da imagem e do modal */
.quad-nb {
    position: relative;
    right:0.5em;
    top: 2em;
    padding-right:2em;
    border-style: solid;
    border: 1em solid #86744f;
}
.quad-nb:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.form-campo input, textarea, label 
{
    width: 100%;
   
    border-color: #86744f !important;    
    border-width: 0 0 2px 0;
    font-size: 1.0em;
    color: #86744f !important
   


}
.user {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

.form-group{
  background-color: transparent;



}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.button-send {
    color:#ffff;   
    margin-right: 40%;
    margin-left: 2%;
    max-width: 30%;
    margin-top: 2%;
    font-size: 2em;

}

.label-nb{
    font-size: 1.5em;
    color:#86744f;

}
.title-nb {
    text-align: center;
    color: #86744f;
    
}
.titulo{
    font-weight: 900 !important;
    text-align: center;
    color: #86744f;
}
#id_estado{
    font-size: 1.0em;
    color: #86744f;
}
#id_vinculado{
  margin-left: 2.5em;
    width: 25em;
    font-size: 1.5em;
    color: #86744f;  
}
.lg {
   text-align: center;
   color: #86744f;
   position : relative;
   top: 2em;
}
.lg-btn {
    text-align:center;
    color: #86744f;
    position: relative;
    top: 3em;
}

.lg-nb {
    text-align:center;
    color: #86744f;
    font-weight:600;
    font-size: 1em;
    text-transform: uppercase;
}

    
.modal-footer {   border-top: 0px; }
   
.navbar-default{ 

	background-color: #86744f;
    border-width: 0;
    margin-bottom: 0;

}
.plink {
    font-size: 1.0em;
    text-transform: uppercase;
    margin-left: 3.2em; 
 }
.menu {
    position: relative;
    top:0;
    height: 16%;    
    background-color: #86744f;
    width: 100%,
}
.menu p {
    color: #fff;    
    text-transform: uppercase;
    font-size: 1.0em;
    margin-right: 1.2em;
    margin-top: 1.5em;
}
.logoimg {
    position: absolute;
    top: 1.7em;
    left: 43%;
}
.user {
    width: 4em;
    height: 4em;
    position: relative;
    top: 1em;
    left:  70%;
}
